<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
    <head>
        {{ partial "head.html" . }}
    </head>

    <body class="{{ if ne $.Site.Params.defaultTheme "light" -}} dark-theme {{- end -}}">
        <div class="container">
            {{ partial "header.html" . }}

            <div class="content">
                {{ block "main" . }}{{ end }}
            </div>

            {{ block "footer" . }}
                {{ partial "footer.html" . }}
            {{ end }}
        </div>

        {{ partial "javascript.html" . }}

        <script>!function(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src="//sd.toneden.io/production/lasso.loader.js";var o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(e,o)}(),window.LassoReady=window.LassoReady||[],window.LassoReady.push(function(){window.Lasso.configure({user_id:22331502})});</script>
    </body>
</html>
